<!DOCTYPE html>
<html lang="en">
 
<head>
  <a href="/index.html"> <img class="weblogo" src="/img/sportwebsitelogo.svg" > </a>
  
  <button class="buttonclick" onclick="toggle()">Click Me</button>

  <title>{{ .Site.Title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 

  <script> 

    function toggle() {
      var x = document.getElementById("navid");
      if (x.style.display !== "none") {
        x.style.display = "none";
        document.getElementById("main").style.marginTop = "1em";
      } else {
        x.style.display = "block";
        document.getElementById("main").style.marginTop = "5em";
      
      }
    }
    </script>


<div class="navbar"  >

<ul class="navitems" id="displayText">
  <li>
    <a href="/shop" class="nav-links" id="zero" >Shop</a>
  </li> 
  <li> <a href="/info" class="nav-links" id="two" >Info</a>
  </li> 
</ul>

</div>




    </nav>
    
  
      
    </head>
   